
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Make a claim!</h1>
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label>Make a claim for your pet</label>
                    <select class="form-control" (change)="getSelectedPet($event)">
                        <option *ngFor="let pet of pets" [value]="pet.Id">{{ pet.PetName }}</option>
                    </select>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="form-group">
                    <label>Attach {{ selectedPetName }}'s invoice for us here</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>