<div class="card">
  <div class="card-body">
    <h1 class="card-title">Pet Claims List</h1>
    <hr>
    <div class="card">
      <div class="card-body">
        <table datatable class="table border table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
        </table>
        <button class="btn btn-success" routerLink='/addclaims'>Add New</button>
      </div>
    </div>
  </div>
</div>


    
